:root {
    --main-color: #FFFAEC;
    --secondary-color: #F5ECD5;
    --extra-color: #578E7E;
}

body {
    color: black; /*cor do texto*/
    background-color: var(--main-color); /*cor do fundo*/
    font-family: "Poppins", sans-serif; /*fonte do texto*/
    font-size: 20px; /*tamanho da fonte*/
    margin: 0;
}

header {
    background-color: var(--extra-color);
}

.menu-header {
    display: block;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items-header {
    display: flex; 
    justify-content: space-between;
    list-style-type: none;
    width: 800px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /*cor do texto do grupo (a)*/
    text-decoration: none; /*decoração "não" para o texto do grupo (a)*/
    transition: font-size 0.3s ease, color 0.3s ease; /* Suaviza a transição */
}

a:hover {
    font-size: 24px; /* Aumenta o tamanho da fonte ao passar o mouse */
}

h1 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.nav-items-footer {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 1300px;
    padding: 0;
}

.imagens-inicio {
    display: flex;
}

.redes  {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer {
    background-color: var(--secondary-color);
    height: 42vh;
    text-align: center;
    font-size: 20px;
}

.menu-footer {
    display: block;
    justify-content: center;
    align-items: center;
}

.nav-items-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .nav-items-section {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0;
    }
}

.nav-items-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

.menu-header {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .nav-items-header {
        width: 100%;
        flex-direction: column;
    }
}

.footer-logo {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .footer-logo {
        flex-direction: column;
        width: 100%;
    }
}

.footer {
    list-style-type: none;
    color: black;
}

.text-footer {
    h1 {
        font-family: "Poppins", sans-serif;
        color: black;
        }
}

.footer-redes {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}