body {
    color: black;
    background-color: lightyellow;
    display: flex;
    color: black;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /cor do texto do grupo (a)/
text-decoration: none; /decoração "não" para o texto do grupo (a)/
transition: font-size 0.3s ease, color 0.3s ease; /* Suaviza a transição */
}

a:hover {
    font-size: 24px; /* Aumenta o tamanho da fonte ao passar o mouse /
    color: lightgray; / Opcional: muda a cor para destaque */
}